body {
    text-align: center;
    background-color: rgba(0, 255, 255, 0.5);
    font-family: Segoe UI Light;
}

.navbar-menu {
    display: inline-block
}

.outline {
    background-color: rgba(4, 89, 187, 0.9);
    max-width: 550px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.NavBar,
.grid,
.input {
    max-width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border: 2px solid;
    text-align: center;
    border-radius: 5px;
}

.NavBar {
    background-image: linear-gradient(0deg, rgb(70, 157, 179), rgb(124, 208, 241));
    height: 55px;   
}


/* Dropdown Button */

.menu-button {
    border: none;
    background-color: transparent;
    height: 52px;
    width: 60px;
    z-index: 1;
}


/* Menu button background colour on hover*/

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Words: */

.count {
    /* position: relative; */
    padding-left: 20px;
    font-size: 40px;
    color: black;
    font-family: Segoe UI Light, Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-weight: bold;
}


/* Menu Content */

.dropdown-content {
    display: none;
    position: relative;
    width: 160px;
    border-color: black;
    z-index: 2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: -2px;
    left: -2px;
}


/* Links inside the menu */

.dropdown-content button {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
    display: block;
    min-width: 160px;
    border-width: 1px;
    border-color: #222;
}


/* Change color of menu links on hover */

.dropdown-content button:hover {
    background-color: #525252;
}

.grid {
    background-color: lightskyblue;
    height: 470px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-size: 40px;
    color: black;
}

.start-msg {
    margin-top: 35%;
}

.input {
    background-color: paleturquoise;
    height: 60px;
}

.grid div {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 2.5px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    resize: none;
    cursor: pointer;
    font-family: monospace;
    white-space: break-spaces;
    vertical-align: middle;
    line-height: normal;
}

div.unclicked {
    background-color: palegreen;
}

div.unclicked:hover {
    background-color: rgb(137, 231, 137);
}

div.clicked {
    background-color: palegoldenrod;
}

div.clicked:hover {
    background-color: rgb(214, 209, 149);
}


/* div.unclickedWord{
    background-color: paleturquoise;
} */



.inputcells {
    display: inline;
    font-size: 30px;
    width: 60px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    max-width: none;
}

.leaderboard-content,
.instructions-content,
.statistics-content {
    background-color: #333;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 65%;
    border-radius: 5px;
    color: #ddd;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: large;
}

.current-user {
    color: #4cd87b;
    font-weight: bold;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

table#leaderboard {
    border-collapse: collapse;
    width: 100%;
}

#leaderboard td,
#leaderboard th {
    border: 1px solid black;
}

#leaderboard tr:nth-child(even) {
    background-color: #525252;
}

#leaderboard th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    font-size: large;
}

.button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding-inline: 50px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

#submit-button {
    background-color: rgba(255, 255, 255, 0.508);
    padding-top: 5px;
    padding-bottom: 5px;
}

#submit-button:hover {
    background-color: rgba(255, 255, 255, 0.325);
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.inline-field {
    display: flex;
    justify-content: space-between;
}

.inline {
    vertical-align: middle;
    float: left;
}

.submit-score {
    background-color: rgba(255, 255, 255, 0.415);;
    visibility: hidden;
    vertical-align: middle;
    width: 70px;
    padding-inline: 0;
    word-wrap: break-word;
    white-space: normal;
}

#start-button {
    font-size: 45px;
    font-family: Segoe UI Light;
}

.copy-popup, .wrong-word-popup{
    position: relative;
    display: block;
}

.copy-popup, .wrong-word-popup{
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    font-size: small;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    margin-left: -75px;
    opacity: 1;
    transition: opacity 0.3s;
}
.copy-popup{
    top: 105%;
    left: 55%;
}

.wrong-word-popup{
    top: 102%;
    left: 50.3%;
}

.copy-popup::after .wrong-word-popup::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.start-game {
    background-color: #00000028;
    border-radius: 10px;
    text-align: center;
    padding-inline: 50px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#personal-statistics{
    overflow: hidden;
}

#average{
    float:left;
}

#games-played{
    overflow: hidden;
}