body {
    text-align: center;
    background-color: rgba(0, 255, 255, 0.5);
}

.navbar-menu {
    display: inline-block
}

.outline {
    background-color: rgba(0, 68, 255, 0.9);
    width: 550px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border: 2px solid;
    border-color: black;
}

.NavBar,
.grid,
.input {
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border: 2px solid;
    border-color: black;
    text-align: center;
}

.NavBar {
    background-color: aqua;
}


/* Dropdown Button */

.menu-button {
    border: none;
    background-color: transparent;
    position: relative;
    right: 0%;
    bottom: 0%;
    padding: 0%;
    height: 46px;
    width: 50px;
    float: left;
    z-index: 1;
}


/* Menu button background colour on hover*/

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}


/* Words: */

.count {
    position: relative;
    text-align: center;
    padding: 0px;
    float: right;
    right: 35%;
    font-size: xx-large;
    color: black;
}


/* Menu Content */

.dropdown-content {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    min-width: 160px;
    border-color: black;
    z-index: 2;
    margin-top: 47px;
}


/* Links inside the menu */

.dropdown-content button {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    border: none;
    min-width: 160px;
}


/* Change color of menu links on hover */

.dropdown-content button:hover {
    background-color: #ddd
}


/* Show the menu

.show {
    display: block;
} */

.grid {
    background-color: lightskyblue;
    height: 470px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-size: 30px;
    color: black;
}

.input {
    background-color: paleturquoise;
    height: 60px;
}

.grid div {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 2.5px;
    height: 50px;
}

div.unclicked {
    background-color: palegreen;
}


/* div.unclickedWord{
    background-color: paleturquoise;
} */

div.clicked {
    background-color: palegoldenrod;
}

.inputcells {
    display: inline;
    font-size: 30px;
    width: 60px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.leaderboard-content,
.instructions-content,
.share-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#leaderboard {
    border-collapse: collapse;
    width: 100%;
}

#leaderboard td,
#leaderboard th {
    border: 1px solid black;
}

#leaderboard tr:nth-child(even) {
    background-color: #f2f2f2;
}

#leaderboard th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    font-size: large;
}

#submit-button,
#start-button {
    background-color: cornflowerblue;
    border: none;
    color: black;
}